@media (min-width: 64em) {
}
@media (min-width: 46.25em) and (max-width: 1023px) {
  .plan-row {
    grid-gap: 55px;
  }
}
@media (max-width: 46.1875em) {
  .plan-row {
      grid-template-columns: repeat(auto-fit, 340px);
    grid-gap: 55px;
    display: grid;
  }
}


